*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Segoe UI";
}

body{

background:

linear-gradient(
135deg,
#050816,
#142f74
);

padding:40px;

color:white;

}

.container{

max-width:900px;

margin:auto;

}

h1{

font-size:64px;

color:#FFD700;

margin-bottom:40px;

}

.box{

display:grid;

gap:20px;

}

button,
.upload{

height:80px;

display:flex;

justify-content:center;

align-items:center;

border:none;

border-radius:24px;

cursor:pointer;

font-size:28px;

font-weight:800;

background:

linear-gradient(
135deg,
#FFD700,
#fff3b0
);

color:black;

}

.danger{

background:

linear-gradient(
135deg,
#ff4a60,
#ff6a6a
);

}

.info{

margin-top:40px;

padding:30px;

border-radius:24px;

background:

rgba(
255,
255,
255,
.06
);

}