*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Segoe UI";
}

body{

background:

linear-gradient(
135deg,
#050816,
#122860
);

padding:40px;

color:white;

}

.container{

max-width:1200px;

margin:auto;

}

h1{

font-size:60px;

color:#FFD700;

margin-bottom:30px;

}

.form{

display:flex;

gap:20px;

margin-bottom:30px;

}

input{

flex:1;

height:64px;

padding:18px;

border:none;

border-radius:18px;

background:

rgba(
255,
255,
255,
.08
);

color:white;

}

button{

width:240px;

border:none;

border-radius:18px;

cursor:pointer;

font-size:22px;

font-weight:900;

background:

linear-gradient(
135deg,
#FFD700,
#fff2b0
);

}

.row{

display:grid;

grid-template-columns:
2fr
1fr
1fr;

gap:20px;

padding:20px;

margin-bottom:18px;

border-radius:22px;

background:

rgba(
255,
255,
255,
.06
);

}

.green{

background:
#0ea94f;

}

.red{

background:
#d73c53;

}