*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Segoe UI",sans-serif;
}

body{

background:
linear-gradient(
180deg,
#01040d,
#07142c,
#0d2356
);

color:white;

min-height:100vh;

padding:16px;

overflow:auto;

}





/* CONTAINER */

.container{

max-width:980px;

margin:auto;

}





/* HEADER */

.top{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:18px;

gap:16px;

}



.top h1{

font-size:30px;

font-weight:900;

color:#FFD700;

line-height:1;

}



.top a{

height:46px;

padding:0 22px;

display:flex;

align-items:center;

justify-content:center;

text-decoration:none;

border-radius:14px;

font-size:15px;

font-weight:800;

background:

linear-gradient(
145deg,
#FFD700,
#fff2a8
);

color:black;

}





/* FORM */

.form{

display:grid;

grid-template-columns:
repeat(
3,
1fr
);

gap:10px;

margin-bottom:14px;

}



.form input,
.form select{

height:48px;

padding:0 14px;

border:none;

outline:none;

border-radius:14px;

font-size:15px;

color:white;

background:

linear-gradient(
145deg,
#1c327d,
#2947a8
);

}



.form input::placeholder{

color:#d0d8ff;

}



.form option{

background:#17316f;

color:white;

}





/* INVOICE */

.invoice{

padding:20px;

border-radius:20px;

background:

linear-gradient(
145deg,
#1c3380,
#2847a8
);

margin-bottom:14px;

}



.invoice h2{

font-size:22px;

margin-bottom:10px;

color:#FFD700;

}



#invoiceNo{

font-size:14px;

margin-bottom:12px;

color:#d6ddff;

}



.line{

display:flex;

justify-content:space-between;

align-items:center;

padding:10px 0;

font-size:15px;

border-bottom:

1px solid
rgba(
255,
255,
255,
.08
);

}



.line label{

color:white;

font-weight:600;

}



.line span{

font-size:17px;

font-weight:900;

color:#FFD700;

}





/* BUTTONS */

.actions{

display:grid;

grid-template-columns:
repeat(
3,
1fr
);

gap:10px;

}



.actions button{

height:48px;

border:none;

cursor:pointer;

border-radius:14px;

font-size:15px;

font-weight:900;

background:

linear-gradient(
145deg,
#FFD700,
#fff1a1
);

color:black;

transition:.2s;

}



.actions button:hover{

transform:
translateY(-2px);

}





/* MOBILE */

@media(
max-width:900px
){

body{

padding:12px;

}



.top{

flex-direction:column;

align-items:flex-start;

}



.top h1{

font-size:24px;

}



.form{

grid-template-columns:
1fr;

}



.actions{

grid-template-columns:
1fr;

}



.line{

flex-direction:column;

align-items:flexstart;

gap:6px;

}



.line span{

font-size:16px;

}

}