*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Segoe UI",sans-serif;
}

body{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:20px;

background:

linear-gradient(
135deg,
#000,
#04112d,
#0a1d52
);

}



/* BOX */

.login-box{

width:100%;

max-width:430px;

padding:34px;

border-radius:28px;

background:

linear-gradient(
160deg,
#1a2f7f,
#2847a8
);

box-shadow:

0 0 60px
rgba(
0,
0,
0,
.35
);

}



/* TITLE */

.login-box h1{

text-align:center;

font-size:42px;

line-height:1.1;

margin-bottom:26px;

font-weight:900;

background:

linear-gradient(
135deg,
#FFD700,
#fff0a5
);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}



/* INPUT */

.login-box input,
.login-box select{

width:100%;

height:58px;

margin-bottom:14px;

padding:0 20px;

border:none;

outline:none;

border-radius:16px;

font-size:18px;

background:

rgba(
255,
255,
255,
.08
);

color:white;

}



/* DROPDOWN FIX */

.login-box select{

appearance:none;

cursor:pointer;

}



.login-box select option{

background:#20398d;

color:white;

}



.login-box input::placeholder{

color:

rgba(
255,
255,
255,
.55
);

}



/* BUTTON */

.login-box button{

width:100%;

height:58px;

margin-top:8px;

border:none;

cursor:pointer;

border-radius:16px;

font-size:18px;

font-weight:900;

background:

linear-gradient(
135deg,
#FFD700,
#fff1b5
);

color:black;

transition:.25s;

}



.login-box button:hover{

transform:

translateY(-2px);

}



/* FOOTER */

.login-box p{

margin-top:18px;

text-align:center;

font-size:14px;

color:#d6dcff;

}



/* MOBILE */

@media(
max-width:700px
){

.login-box{

max-width:350px;

padding:26px;

}


.login-box h1{

font-size:34px;

}


.login-box input,
.login-box select,
.login-box button{

height:52px;

font-size:16px;

}

}