*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Segoe UI",sans-serif;
}

body{

background:

linear-gradient(
180deg,
#000,
#04102a,
#081f4f
);

color:white;

padding:26px;

overflow-x:hidden;

}



/* CONTAINER */

.container{

max-width:1600px;

margin:auto;

}



/* TOP */

.top{

display:flex;

justify-content:
space-between;

align-items:center;

margin-bottom:26px;

}



.top h1{

font-size:58px;

font-weight:900;

color:#FFD700;

}



.top p{

margin-top:8px;

font-size:18px;

color:#d0d8ff;

}



.back{

padding:18px 26px;

border-radius:18px;

text-decoration:none;

font-weight:800;

background:

linear-gradient(
145deg,
#FFD700,
#fff0a8
);

color:black;

}



/* FILTER */

.filters{

display:grid;

grid-template-columns:
repeat(
4,
1fr
);

gap:16px;

margin-bottom:26px;

}



.filters select,
.filters button{

height:62px;

padding:0 20px;

border:none;

outline:none;

border-radius:18px;

font-size:18px;

}



.filters select{

background:

rgba(
255,
255,
255,
.08
);

color:white;

}



.filters button{

cursor:pointer;

font-weight:800;

background:

linear-gradient(
145deg,
#FFD700,
#fff0aa
);

color:black;

}



/* CARDS */

.cards{

display:grid;

grid-template-columns:
repeat(
6,
1fr
);

gap:16px;

margin-bottom:28px;

}



.card{

padding:22px;

border-radius:22px;

background:

linear-gradient(
145deg,
#182d78,
#2947aa
);

}



.card h3{

font-size:18px;

margin-bottom:14px;

}



.card div{

font-size:34px;

font-weight:900;

color:#FFD700;

}



/* TABLE */

.tableBox{

padding:20px;

border-radius:24px;

background:

linear-gradient(
145deg,
#182d77,
#2744a4
);

overflow:auto;

}



table{

width:100%;

border-collapse:collapse;

}



th{

padding:16px;

background:#FFD700;

color:black;

}



td{

padding:16px;

text-align:center;

border-bottom:

1px solid
rgba(
255,
255,
255,
.08
);

}



/* ACTION */

.actions{

display:flex;

justify-content:flex-end;

gap:16px;

margin-top:24px;

}



.actions button{

height:60px;

padding:0 30px;

border:none;

cursor:pointer;

border-radius:18px;

font-size:18px;

font-weight:800;

background:

linear-gradient(
145deg,
#FFD700,
#fff0a6
);

}



/* MOBILE */

@media(
max-width:1200px
){

.cards{

grid-template-columns:
repeat(
2,
1fr
);

}

.filters{

grid-template-columns:
1fr 1fr;

}

}



@media(
max-width:700px
){

.top{

flex-direction:column;

gap:20px;

align-items:flex-start;

}

.top h1{

font-size:38px;

}

.cards{

grid-template-columns:
1fr;

}

.filters{

grid-template-columns:
1fr;

}

.actions{

flex-direction:column;

}

}