*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Segoe UI",sans-serif;
}

body{

background:

linear-gradient(
180deg,
#000,
#07142f,
#0e2660
);

color:white;

padding:18px;

overflow-x:hidden;

}



/* CONTAINER */

.container{

max-width:1100px;

margin:auto;

}



/* HEADER */

.top{

display:flex;

justify-content:
space-between;

align-items:center;

margin-bottom:20px;

}



.top h1{

font-size:46px;

font-weight:900;

color:#FFD700;

}



.top p{

margin-top:6px;

font-size:15px;

color:#d6deff;

}



.back{

padding:14px 22px;

border-radius:16px;

text-decoration:none;

font-weight:900;

background:

linear-gradient(
145deg,
#FFD700,
#fff1a2
);

color:black;

}





/* PANEL */

.panel{

padding:26px;

border-radius:28px;

background:

linear-gradient(
145deg,
#1a317d,
#2948ab
);

display:grid;

grid-template-columns:
1fr 1fr;

gap:16px;

}



.panel h2{

grid-column:
1/-1;

font-size:24px;

color:#FFD700;

margin-top:6px;

margin-bottom:6px;

}



.panel hr{

grid-column:
1/-1;

border:none;

height:1px;

background:

rgba(
255,
255,
255,
.15
);

margin:10px 0;

}



/* INPUT */

.panel input,
.panel select{

height:58px;

padding:0 18px;

border:none;

outline:none;

border-radius:16px;

font-size:16px;

color:white;

background:

rgba(
255,
255,
255,
.08
);

}



.panel input::placeholder{

color:#d4ddff;

}



.panel select{

appearance:none;

}



.panel select option{

background:#20398d;

color:white;

}





/* CHECK */

.checks{

grid-column:
1/-1;

display:grid;

grid-template-columns:
repeat(
3,
1fr
);

gap:14px;

}



.checks label{

padding:14px;

border-radius:14px;

background:

rgba(
255,
255,
255,
.08
);

display:flex;

gap:10px;

align-items:center;

}



.checks input{

width:18px;

height:18px;

}





/* BUTTON */

.actions{

grid-column:
1/-1;

display:grid;

grid-template-columns:
1fr 1fr;

gap:14px;

}



.actions button,
.update,
.employeeBtn{

height:58px;

border:none;

cursor:pointer;

border-radius:16px;

font-size:17px;

font-weight:900;

}



.actions button:first-child,
.update{

background:

linear-gradient(
145deg,
#FFD700,
#fff1a5
);

color:black;

}



.actions button:last-child,
.employeeBtn{

background:

linear-gradient(
145deg,
#ff5b67,
#ff7f88
);

color:white;

}



button:hover{

transform:

translateY(-2px);

}





/* MOBILE */

@media(
max-width:900px
){

.top{

flex-direction:column;

align-items:flex-start;

gap:14px;

}



.panel{

grid-template-columns:
1fr;

}



.panel h2{

font-size:20px;

}



.checks{

grid-template-columns:
1fr;

}



.actions{

grid-template-columns:
1fr;

}



.top h1{

font-size:34px;

}

}